@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'poppins', 'san-serif';
    box-sizing: border-box;
}
body{
    background-color: #020B4A !important;
    color:rgb(255, 255, 255)

}
#header{
    height: 100px;
    width:100px;
    background-position: center;
    background-size: cover;

}
/* Navbar */

.portfolio-navbar{
    background-color: #020B4A !important;
   
}
.nav-link, .navbar-brand{
    color: #57feff !important;
    font-family: "Roboto";
   
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
.navbar-brand{
    font-weight: normal;
    font-size: 24px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    padding: 8px 12px;
    font-style: italic;
    font-family: "cursive";
    background-color: #ff004f;
    border-radius: 4px 2px 6px 8px;
    line-height: inherit;
    white-space: nowrap;
    box-sizing: border-box;
}
.fa {
    padding: 20px;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    
    
  }
  .footer-container
  {
 border: 2px solid #57feff;
  border-radius: 3px;
  padding: 2px;
  min-height: 250px;
}


.feedback-container{
    display: flex;
    flex-direction: column;
    max-width:650px;
}
.feedback-heading{
    color:aliceblue;
}
.profession-container,.contact-container{
    color:aliceblue;
}
.Objective-container{
    border: 2px solid white;
    border-radius: 3px;
    padding: 2px;
    min-height: 250px;
    background-color: aliceblue;
    
    display: flex;
    align-items: center;
    justify-content: center;
      }
      
      img {
        max-width: 250px;
        max-height:250px;
        float:left;
      }
      
      .text {
        font-size: 20px;
        padding-top: 15px;
        padding-inline-start: 100px;
        float: right ;
        color: #020B4A;
        margin-top: 0;
        box-sizing: border-box;
      }
      .education-details{
        background-color: #020B4A;
        color: #57FEFF;
        display: flex;
        flex-direction: row;
       }
       .university-image{
        img {
            max-width: 600px;
            max-height: 200px;
            float:left;
          }
    }
    .college-details{
        list-style-type:none;
         float:inline-start;
         font-size: x-large;
    }
    .graduation-image{
        .university-image{
            img {
                max-width: 400px;
                max-height:600px;
                float:right;
              }
    }
    
  
    }
    .technical-container{
       background-color: #1aad15;
    }
    